.modBox {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.contentBox {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.titleBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5vh;
  margin-bottom: 3vh;
  color: white;
  text-align: center;
  background: #607d8b;
}

.titleMenu {
  display: flex;
  align-items: center;
  margin: 0;
  flex-basis: 100%;
  text-align: center;
  font-size: 14px;
  color: white;
  cursor: pointer;
  height: 100%;
  justify-content: center;
}

.titleMenu:active {
  background: rgba(255, 255, 255, 0.3);
  opacity: 0.5;
  filter: alpha(opacity=20);
}

.menuAct {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #ff6f00;
}

.listBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5vh;
  margin-top: 0;
  background: #029ced;
  color: white;
  text-align: center;
}

.titleColumn {
  width: 33%;
}

.listBox .listTitle {
  font-weight: bold;
}

.listTitle {
  width: 25%;
}

.buttonBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 5vh;
  margin-top: 3vh;
  background: #029ced;
  color: white;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  border: solid;
  border-color: #029ced;
  border-width: 1px;
}

.buttonBox:hover {
  background: white;
  color: #029ced;
  font-weight: bold;
}

.blackBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  transition: height 0.2s ease-out;
  overflow: hidden;
  background-color: rgba(155, 155, 155, 0.5);
  border: none;
}

.addBox {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 0;
  max-height: 80vh;
  background: white;
  border-radius: 8px;
  overflow: hidden;
}

.oBox {
  height: 100%;
  overflow: hidden;
}

.lInput {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: gainsboro;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* .lInput {
  width: 42%;
  margin-bottom: 5%;
  margin-top: 5px;
}
 */
.showBox {
  width: 84%;
  border-style: solid;
  border-width: 23px;
  border-radius: 23px;
  border-color: #d8d8d8;
}

.bList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.bItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* .formHeader {
  height: 12vh;
  width: 100%;
  background: #029ced;
  color: white;
  text-align: center;
}
 */

.formHeader {
  width: 100%;
  margin-left: 20px;
}

.formHeader p {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.addBox form {
  width: 100%;
}

/* .formContent {
  display: flex;
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 3vh;
  height: auto;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
} */

.formContent {
  display: flex;
  width: 90%;
  margin: auto;
  flex-direction: column;
  align-items: center;
}

/* .formButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 5vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  background: #029ced;
  color: white;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  border: solid;
  border-color: #029ced;
  border-width: 1px;
} */

.formButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 5vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  background: #029ced;
  color: white;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  border: solid;
  border-color: #029ced;
  border-width: 1px;
}
.listButton {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 10%;
}

.listButton #closeB {
  background: transparent;
  color: red;
  font-weight: bold;
  width: 27px;
  height: 27px;
  margin: 0 auto;
  text-align: center;
  border: 2px solid red;
  border-radius: 3px;
  cursor: pointer;
  padding: 0;
}

.listButton #updateB {
  background: transparent;
  color: red;
  font-weight: bold;
  width: 23px;
  height: 23px;
  margin: 0 auto;
  text-align: center;
  border: 2px solid grey;
  border-radius: 3px;
  cursor: pointer;
  padding: 0;
}

.listButton #closeB:hover {
  background-color: red;
  color: white;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 23px;
  height: 23px;
}

.closeButton .closeB {
  background: transparent;
  width: 100%;
  height: 100%;
  z-index: 2000;
  color: red;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  border: 2px solid red;
  border-radius: 3px;
  cursor: pointer;
  padding: 0;
}

.closeButton .closeB:hover {
  background-color: red;
  color: white;
}

.cardBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1%;
  margin-left: 1%;
  padding-right: 1%;
  margin-right: 1%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 96%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardHeader {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-top: 10px;
}

.cardImg {
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 40px;
}

.cardName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cardName p {
  margin: 0;
  margin-bottom: 12px;
}

.cardNameTitle {
  font-weight: bold;
  font-size: 20px;
}

.cardNameSpeciality {
  font-weight: lighter;
  font-size: 14px;
}

.cardIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cardAddress {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
}

.cardAddress p {
  font-size: 16px;
}

.cardIcon {
  margin-right: 16px;
}

.cardContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  justify-content: space-between;
}

.cardText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardContent .cardText:first-child {
  align-items: flex-start !important;
}

.cardContent .cardText:last-child {
  align-items: flex-end !important;
}

.cardText p {
  margin: 0;
  margin-bottom: 16px;
}

.cardTextTitle {
  font-size: 15px;
}

.cardTextInfo {
  font-size: 15px;
  font-weight: bold;
}

.cardButtons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 10px;
}

.cardButtons button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  line-height: 36px;
  font-size: 14px;
  font-weight: bold;
  padding: 0 16px;
}

.cardButtons button:hover {
  font-size: 16px;
}
