<div class="modBox">
  <div class="titleBox">
    <p
      *ngFor="let item of menu; let i = index"
      (click)="toggleMenu($event, item, i)"
      class="titleMenu"
      [ngClass]="item.class"
    >
      {{ item.name }}
    </p>
  </div>
  
  <div class="filterBox">
  <form
    class="formContent"
    [formGroup]="filterForm"
    (ngSubmit)="applyFilter()"
  >

                    <div class="formInput">
    <label for="">Tipo de usuario</label>
    <select
      class="lInput"
      formControlName="tipo"
      >
    <option value="Todos" selected="true">Todos</option>
    <option value="Admin">Admin</option>
    <option value="Doctor">Doctor</option>
    <option value="Paciente">Paciente</option>
        </select>
  </div>
        <button type="submit" class="formButton">
      <p>Filtrar</p>
    </button>
  </form>
  </div>
  
  <div class="cardBox">
    <table>
      <tr class="listBox">
        <th class="listTitle">Acciones</th>
        <th class="listTitle" *ngFor="let field of fields">{{ field }}</th>
      </tr>
      <tr class="bItem" *ngFor="let value of values">
        <td class="listButton">
          <button type="button" id="closeB" (click)="deleteItem($event, value)">
            X
          </button>
          <img
            id="updateB"
            src="/assets/tuerca.png"
            (click)="openUpdate($event, value)"
          />
        </td>
        <td class="listTitle" *ngFor="let item of value | keyvalue">
          {{ item.value }}
        </td>
      </tr>
    </table>
  </div>
  <button class="buttonBox" (click)="openForm()">
    {{ addText }}
  </button>
</div>

<div class="blackBox" [ngClass]="openBox" (click)="tBox()"></div>
<div class="addBox" [ngClass]="openBox">
  <div class="closeButton">
    <button class="closeB" (click)="tBox()">X</button>
  </div>

  <div class="formHeader">
    <h1>{{ addText }}</h1>
  </div>

  <form
    class="formContent"
    [formGroup]="passwordForm"
    (ngSubmit)="confirmPass()"
  >
    <input
      class="lInput"
      type="text"
      formControlName="name"
      placeholder="Nombre"
    />
    <input
      class="lInput"
      type="text"
      formControlName="mail"
      placeholder="Correo"
    />
    <input
      class="lInput"
      type="text"
      formControlName="username"
      placeholder="Usuario"
    />
    <label for="tipo">Tipo: </label>
    <select name="tipo" formControlName="type">
      <option value="Doctor">Doctor</option>
      <option value="Paciente">Paciente</option>
      <option value="Admin">Administrador</option>
    </select>
    <input
      class="lInput"
      type="password"
      formControlName="password"
      placeholder="Contraseña"
    />
    <!-- <input class="lInput" type="password" formControlName="passwordAgain" placeholder="Confirmar contraseña" />
 -->
    <button type="submit" class="formButton">
      <p>Aceptar</p>
    </button>
  </form>
</div>
